apiVersion: v1
kind: PersistentVolume
metadata:
  name: flexric-pv
spec:
  capacity:
    storage: {{ .Values.storage }}
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ .Values.nfs.server }}
    path: {{ .Values.nfs.path }}
  storageClassName: nfs