apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "grafana.fullname" . }}-nfs-pv
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ .Values.nfs1.server }}
    path: {{ .Values.nfs1.path }}
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "grafana.fullname" . }}-nfs-pvc
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi